<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="#">
  <meta name="author" content="#">

  <title>Wolof English Dictionary</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="<%= url('css/bootstrap.min.css') %>" rel="stylesheet" type="text/css">

  <!-- Custom Fonts/CSS -->
  <link href="<%= url('/views/html/css/font-awesome.min.css') %>" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="<%= url('css/custom.css') %>" rel="stylesheet" type="text/css">

  <!-- Favicon -->

  <link rel="icon" href="<%= url('img/favicon.ico') %>" type="image/x-icon">
  <link rel="shortcut icon" href="views/html/img/favicon.ico" type="image/x-icon">

</head>
<body>
	<%= yield %>

  <!-- Jquery -->
  <script src="views/html/js/jquery-1.11.0.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="views/html/js/bootstrap.min.js"></script>

  <!-- Animations -->
  <script src="views/html/js/cbpAnimatedHeader.js"></script>

</body>
</html>
